Repository Entze/pyggp: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pre-commit-validate

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

pre-commit-validate:
  name: pre-commit validate-config
  entry: pre-commit validate-config
  language: system
  pass_filenames: false

feat(pyggp.agents): add RandomAgent
  src/pyggp/agents.py
Due: none

feat(pyggp._logging): add inflect method
  src/pyggp/_logging.py
Due: none

feat(pyggp.gameclocks.GameClock): add no timeout capabilities
  src/pyggp/gameclocks.py
  tests/test_gameclocks.py
Due: none

refactor: run isort on all files
  src/pyggp/actors.py
  src/pyggp/agents.py
  src/pyggp/app.py
  src/pyggp/commands.py
  src/pyggp/exceptions/match_exceptions.py
  src/pyggp/games.py
  src/pyggp/gdl.py
  src/pyggp/interpreters.py
  src/pyggp/match.py
  src/pyggp/visualizers.py
  tests/common.py
  tests/test_commands/test_orchestrate_match.py
  tests/test_gdl.py
  tests/test_interpreters.py
  tests/test_interpreters/test_get_legal_moves_by_role.py
  tests/test_match.py
  tests/test_match/test_abort_match.py
  tests/test_match/test_conclude_match.py
  tests/test_match/test_execute_ply.py
Due: none

feat(pyggp.exceptions/actor_exceptions): add custom TimeoutError and ValueError variants for ActorErrors
  src/pyggp/exceptions/actor_exceptions.py
Due: none

refactor(pyggp.visualizers.SimpleRichVisualizer): rename panels for end of game
  src/pyggp/visualizers.py
Due: none

feat(pyggp.actors.Actor): expand class to accomodate human actors
  src/pyggp/actors.py
Due: none

feat(pyggp.Match): rewrite execute_ply loop to display time left per agent
  src/pyggp/actors.py
  src/pyggp/commands.py
  src/pyggp/match.py
Due: none

feat: improve logging through rich methods
  src/pyggp/agents.py
  src/pyggp/app.py
  src/pyggp/commands.py
  src/pyggp/gdl.py
Due: none

fix: handle Random role
  src/pyggp/commands.py
Due: none

feat(pyggp.agents): add HumanAgent
  src/pyggp/agents.py
Due: none

fix(pyggp.match.Match.execute_ply): add break condition on exceptions
  src/pyggp/match.py
Due: none

refactor: run isort
  tests/test_actors.py
Due: none

refactor(pyggp._logging): remove unneccessary variables
  src/pyggp/_logging.py
  src/pyggp/app.py
Due: none

build(pre-commit): add pygrep hooks
  .pre-commit-config.yaml
Due: pre-commit-validate

build(gitignore): add pyggp (shiv)
  .gitignore
Due: none

build(poetry): cleanup dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

build(tox): remove explicit version numbers and add supported python versions
  tox.ini
Due: none

build(gitignore): specify which build targets to ignore
  .gitignore
Due: none

build: migrate from tox to nox
  noxfile.py
  poetry.lock
  pyproject.toml
  tox.ini
Due: poetry-check

ci(github): migrate from tox to nox
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
Due: none

refactor: backport the project to python3.8
  src/pyggp/actors.py
  src/pyggp/agents.py
  src/pyggp/app.py
  src/pyggp/commands.py
  src/pyggp/gameclocks.py
  src/pyggp/games.py
  src/pyggp/gdl.py
  src/pyggp/interpreters.py
  src/pyggp/match.py
  src/pyggp/visualizers.py
Due: none

test: make tests compatible with current config
  tests/common.py
  tests/test_actors.py
  tests/test_commands/test_orchestrate_match.py
  tests/test_gdl.py
  tests/test_interpreters.py
  tests/test_match/test_abort_match.py
  tests/test_match/test_conclude_match.py
Due: none

ci(github): correct "nox run" to "nox"
  .github/workflows/tests.yaml
Due: none

ci: substitute tomllib with backwards compatible tomli
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check

build(poetry): add tomli to ci dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

test(tests.test_agents): remove empty file
  tests/test_agents.py
Due: none

docs: update documentation
  docs/api/actors.md
  docs/contributing/index.md
  docs/contributing/testing.md
  docs/reference/actors.md
  docs/reference/gdl.md
  docs/reference/index.md
  mkdocs.yml
Due: none

build(doc-linters): configure pydoclint and docsig
  pyproject.toml
Due: poetry-check

build(nox): remove docs_lint from checks, ci and lint
  noxfile.py
Due: none

test: disable old tests
  tests/test_app.py
  tests/test_commands.py
  tests/test_commands/test_load_by_name.py
  tests/test_gameclocks.py
  tests/test_gdl.py
  tests/test_interpreters.py
  tests/test_interpreters/test_get_legal_moves_by_role.py
  tests/test_match.py
  tests/test_match/test_execute_ply.py
  tests/test_visualizer.py
Due: none

feat(pyggp.actors): add module to API
  src/pyggp/actors.py
  tests/pyggp/actors/test_actor.py
  tests/pyggp/actors/test_local_actor.py
Due: none

feat(pyggp.gdl.Ruleset): make rules arg optional
  src/pyggp/gdl.py
Due: none

build(pre-commit): replace isort and pygrep with ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry-check, pre-commit-validate

build: add new dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

docs(pyggp.actors): refine documentation and noqa statements
  src/pyggp/actors.py
Due: none

refactor(pyggp.actors): clean whitespace
  tests/pyggp/actors/test_actor.py
Due: none

build(nox): restructure noxfile.py
  noxfile.py
Due: none

build(ruff): add pyupgrade and docstyle autofixables
  pyproject.toml
Due: poetry-check

build: remove anytree dependency
  poetry.lock
  pyproject.toml
Due: poetry-check

Path conditions:
  poetry-check: any of: pyproject.toml
  pre-commit-validate: any of: .pre-commit-config.yaml
