Repository Entze/pyggp: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pre-commit-validate

.pre-commit-config.yaml:

default_install_hook_types:
  - commit-msg
  - pre-commit
default_stages:
  - commit
  - manual
fail_fast: true
repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.12.1
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.256
    hooks:
      - id: ruff
        args: [--select, "I,PGH,E501", --fixable, "I", --fix, --exit-non-zero-on-fix]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-github-workflows
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.13
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-black
        args: [--check, --wrap=120, --number]
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: "pyproject.toml"
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry lock
        args: [ --check ]
        language: system
        pass_filenames: false
      - id: pre-commit-validate
        name: pre-commit validate-config
        entry: pre-commit validate-config
        language: system
        files: ".pre-commit-config.yaml"
        pass_filenames: false

ci(github.prerelease.sanity_check): indicate option --ruleset
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a10 -> 0.1.1a11
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github.prerelease.sanity_check): simplify run of pyggp binaries
  .github/workflows/prerelease.yaml
Due: none

build: update dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor(pyggp.heuristics): remove unused code
  src/pyggp/heuristics.py
Due: none

build(nox): install the precise versions from the lock file
  noxfile.py
Due: none

build: specifiy docformatter[tomli] instead of docformatter
  poetry.lock
  pyproject.toml
Due: poetry-check

build(pre-commit): run autoupdate
  .pre-commit-config.yaml
Due: pre-commit-validate

ci(github): use more specific keys for caches
  .github/workflows/ci.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/tests.yaml
Due: none

build(nox): refactor documentation linting into separate session
  noxfile.py
  pyproject.toml
Due: poetry-check

refactor: let each module get its own logger
  src/pyggp/__main__.py
  src/pyggp/_logging.py
  src/pyggp/agents/base_agents.py
  src/pyggp/cli/_common.py
  src/pyggp/cli/_match.py
  src/pyggp/cli/commands.py
  src/pyggp/interpreters.py
  src/pyggp/match.py
Due: none

feat(pyggp.agents): refactor agents to be dataclasses
  pyproject.toml
  src/pyggp/agents/base_agents.py
  src/pyggp/exceptions/agent_exceptions.py
  tests/pyggp/agents/base_agents/test_abitrary_agent.py
  tests/pyggp/agents/base_agents/test_interpreter_agent.py
Due: poetry-check

refactor: update pragmas
  src/pyggp/game_description_language/grammar.py
  src/pyggp/visualizers.py
Due: none

feat(pyggp._logging): add specialized inflection and format_amount
  src/pyggp/_logging.py
  tests/pyggp/test_protected_logging.py
Due: none

feat(pyggp.game_description_language.literals): add convenience method for checking if a literal is a comparison
  src/pyggp/game_description_language/literals.py
Due: none

feat(pyggp.cli.commands.match): add explicit flag names for start and playclock
  src/pyggp/cli/commands.py
Due: none

refactor(pyggp.cli._match.handle_match_command): add pragma
  src/pyggp/cli/_match.py
Due: none

refactor(pyggp.cli._match): restructure control flow
  src/pyggp/cli/_match.py
Due: none

feat(pyggp.interpreters): implement get_developments
  src/pyggp/_clingo.py
  src/pyggp/exceptions/interpreter_exceptions.py
  src/pyggp/interpreters.py
  tests/pyggp/interpreters/test_clingo_interpreter.py
  tests/pyggp/interpreters/test_turn.py
Due: none

feat(pyggp.agents.tree_agents): add WIP of tree_agents
  src/pyggp/agents/__init__.py
  src/pyggp/agents/tree_agents/__init__.py
  src/pyggp/agents/tree_agents/evaluators.py
  src/pyggp/agents/tree_agents/mcts/__init__.py
  src/pyggp/agents/tree_agents/mcts/agents.py
  src/pyggp/agents/tree_agents/mcts/evaluators.py
  src/pyggp/agents/tree_agents/mcts/nodes.py
  src/pyggp/agents/tree_agents/mcts/perspectives.py
  src/pyggp/agents/tree_agents/mcts/selectors.py
  src/pyggp/agents/tree_agents/mcts/valuations.py
  src/pyggp/agents/tree_agents/nodes.py
  src/pyggp/agents/tree_agents/perspectives.py
  src/pyggp/agents/tree_agents/valuations.py
  src/pyggp/exceptions/agent_exceptions.py
  tests/pyggp/agents/tree_agents/evaluators/test_null_evaluator.py
  tests/pyggp/agents/tree_agents/nodes/test_deterministic_node.py
  tests/pyggp/agents/tree_agents/nodes/test_node.py
Due: none

build: update dependencies
  .pre-commit-config.yaml
  poetry.lock
Due: pre-commit-validate

fix(pyggp.agents.tree_agents.nodes.Node): rewrite propagation
  src/pyggp/agents/tree_agents/mcts/nodes.py
  src/pyggp/agents/tree_agents/nodes.py
Due: none

fix(pyggp.agents.tree_agents.nodes.Node.propagate_back): require valuation as argument and handle optional valuations further up the tree
  src/pyggp/agents/tree_agents/nodes.py
Due: none

test(pyggp.agents.tree_agents.nodes): add tests for evaluate and propagate_back
  tests/pyggp/agents/tree_agents/nodes/test_deterministic_node.py
  tests/pyggp/agents/tree_agents/nodes/test_node.py
Due: none

refactor(pyggp.frozendict): pull hashable dict implementation into seperate module
  src/pyggp/frozendict.py
  src/pyggp/interpreters.py
  src/pyggp/match.py
  tests/pyggp/agents/tree_agents/nodes/test_deterministic_node.py
  tests/pyggp/interpreters/test_turn.py
Due: none

build(ruff): ignore rules for tests
  pyproject.toml
Due: poetry-check

build(nox.fix): replace ruff's --fix with --fix-only
  noxfile.py
Due: none

fix(pyggp.interpreters.ClingoInterpreter.get_developments): limit the grounding horizon
  src/pyggp/interpreters.py
Due: none

refactor(pyggp.exceptions.agent_exceptions): remove unused module
  src/pyggp/exceptions/agent_exceptions.py
Due: none
