Repository Entze/pyggp: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pre-commit-validate

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

pre-commit-validate:
  name: pre-commit validate-config
  entry: pre-commit validate-config
  language: system
  pass_filenames: false

feat(pyggp.cli.commands.match): run conclude or abort on matches that stopped
  src/pyggp/cli/_match.py
Due: none

build: replace shiv with pyinstaller for building executables
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check

build(ruff): ignore UP031 in main command
  pyproject.toml
Due: poetry-check

feat(pyggp.cli.commands.main): add sys-info callback
  src/pyggp/cli/_main.py
  src/pyggp/cli/commands.py
Due: none

ci(github): add prerelease workflow
  .github/workflows/prerelease.yaml
  .github/workflows/prerelease.yaml.draft
Due: none

chore(release): 0.0.0 -> 0.1.0
  CHANGELOG.md
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github): add 0. releases to prerelease
  .github/workflows/prerelease.yaml
Due: none

build: remove pymarkdown as dependency
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  .pymarkdown-config.json
Due: pre-commit-validate

ci(github.prerelease): fix artifact handling
  .github/workflows/prerelease.yaml
Due: none

build(pre-commit): add mdformat
  .pre-commit-config.yaml
Due: pre-commit-validate

build(pre-commit): remove mdformat
  .pre-commit-config.yaml
Due: pre-commit-validate

docs: add and apply mdformat
  CHANGELOG.md
  docs/contributing/documenting.md
  docs/contributing/testing.md
  docs/index.md
  docs/reference/actors.md
  docs/reference/gdl.md
  poetry.lock
  pyproject.toml
Due: poetry-check

chore(release): 0.1.0 -> 0.1.1a0.dev1
  CHANGELOG.md
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github): change upload path to explicit relative path
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a0.dev1 -> 0.1.1a1
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github.prerelease): fix path on build for windows
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a1 -> 0.1.1a2
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github.prerelease.sanity_check): add PLATFORM_NAME renames
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a2 -> 0.1.1a3
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github.prerelease.sanity_check): prepend running with explicit relative path
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a3 -> 0.1.1a4
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github.prerelease.sanity_check): add chmod +x to binary
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a4 -> 0.1.1a5
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github): enable caching and disable fail-fast
  .github/workflows/ci.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/tests.yaml
Due: none

ci(github.prerelease.build): build with ubuntu-20.04 instead of ubuntu-latest
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a5 -> 0.1.1a6
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github.prerelease.gh-release): add permission to make release
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a6 -> 0.1.1a7
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

refactor(games): add nice aliases for built-in games
  src/games/minipoker
  src/games/nim
  src/games/rock-paper-scissors
  src/games/tic-tac-toe
Due: none

refactor: add src/games to package
  pyproject.toml
Due: poetry-check

feat(pyggp.cli): search for built-in games when resolving rulesets
  src/pyggp/cli/_common.py
  src/pyggp/cli/_match.py
Due: none

build: bundle games into binaries
  noxfile.py
Due: none

chore(release): 0.1.1a7 -> 0.1.1a8
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

fix: exclude games from packages
  pyproject.toml
Due: poetry-check

fix(pyggp.cli): fix according to ruff's suggestions
  src/pyggp/cli/_common.py
  src/pyggp/cli/_match.py
Due: none

ci(github): remove trigger tag exception
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
Due: none

chore(release): 0.1.1a8 -> 0.1.1a9
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github.prerelease.sanity_check): add more extensive sanity check
  .github/workflows/prerelease.yaml
Due: none

chore(release): 0.1.1a9 -> 0.1.1a10
  pyproject.toml
  src/pyggp/_version.py
Due: poetry-check

ci(github): skip workflow runs where only src/pyggp/_version.py changed
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
Due: none

Path conditions:
  poetry-check: any of: pyproject.toml
  pre-commit-validate: any of: .pre-commit-config.yaml
